<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Главная</title>
</head>
<body>

<div>
    <h3 sec:authentication="name"></h3> <!-- Выводит имя пользователя -->

    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </div>

    <h4><a href="/user">Пользователь (только пользователь)</a></h4>
    <h4><a href="/admin">Пользователи (только админ)</a></h4>
</div>
</body>
</html>
